
.DS_Store
Solitaire.playground/playground.xcworkspace/xcuserdata/arnaudpannatier.xcuserdatad/UserInterfaceState.xcuserstate
Solitaire.playground/playground.xcworkspace/xcuserdata/arnaudpannatier.xcuserdatad/UserInterfaceState.xcuserstate
